<?xml version="1.0" encoding="UTF-8"?>

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://3.77.237.17:5022/vova_pv116</property>
        <property name="hibernate.connection.username">krot</property>
        <property name="hibernate.connection.password">p%rSDj4Imdds8djs07djc**dmUntdOidd3dZ_#WTi4B9Zo</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <property name="hibernate.connection.CharSet">utf8</property>
        <property name="hibernate.connection.characterEncoding">utf8</property>
        <property name="hibernate.connection.useUnicode">true</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>

    </session-factory>

</hibernate-configuration>